*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url('images/bg3.jpg');
    background-size: cover;
}

.header{
    display:flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    font-family: "gotham", helvetica;
    /*
    background-color: peachpuff;
    */
    margin-bottom: 5px;
    border-bottom: 10px solid white;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: black;
}
  
a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.logo_img{
    height: 70px;
    width: 400px;
}

.links{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.link{
    display: inline-flex;
    padding: 20px;
    padding-top: 25px;
    color:white;
}

.active{
    background-color: white;
}

.content{
    display:flex;
    position: absolute;
    top: 183px;
    bottom: 0px;
    flex-direction: column;
    padding: 0px 250px;
    text-align: justify;
}

.intro{
    background-color: rgba(255, 255, 255, 0.9);
    margin:0px;
    padding: 30px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro h5{
    font-size: 17px;
}

.materials{
    font-size: 16px;
    margin: 0px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

.image{
    height: 370px;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.9);
}