/*
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

*/

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url('images/bg2.jpg');
    background-size: cover;
}

.header{
    display:flex;
    flex-direction: row-reverse;
    height: 70px;
    position: sticky;
    top: 0px;
    font-family: "gotham", helvetica;
    /*
    background-color: peachpuff;
    */
    margin-bottom: 5px;
    border-bottom: 10px solid white;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: black;
}
  
a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.logo{
    margin: 0px auto 0px 100px;
}

.logo_img{
    height: 70px;
    width: 100px;
}

.link1{
    display: inline-flex;
    padding: 25px 15px 10px 15px;
    color: white;
}

.link{
    display: inline-flex;
    padding: 10px;
    padding-top: 25px;
    color:white;
}

.active{
    background-color: white;
}

.content{
    display:flex;
    position: absolute;
    top: 70px;
    bottom: 0px;
    width: 100%;
    flex-direction: column;
    font-family: system-ui;
}

.side{
    flex: 1;
    margin: 0px 10px 20px 20px;
    height: fit-content;
    background-color: rgba(255, 239, 239,0.7);
}

.main{
    flex: 2.5;
    display: flex;
}

.left{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px 10px 20px 10px;
    background-color: rgba(255, 239, 239,0.7);
}

.right{
    flex: 3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px 20px 20px 10px;
    background-color: rgba(255, 239, 239,0.7);
}

.side_img{
    width: 100%;
    padding: 20px;
}

.left_img{
    width: 100%;
    padding: 20px;
}

.right_img{
    width: 100%;
    padding: 20px;
}

.desc{
    margin-left: 20px;
}

.side_card, .left_card, .right_card{
    padding-bottom: 20px;
    border-bottom: 8px solid white;
}

.desc{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.desc:hover{
    text-decoration: underline;
}

#back2Top {
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 40px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    line-height: 40px;
}
#back2Top:hover {
    background-color: #DDF;
	color: #000;
}